User
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 60%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #cc2e8a;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #8e44ad;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
display: inline-block;
padding: 10px 20px; 
border: 2px solid transparent;
border-radius: 5px; 
transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

nav a:hover {
background-color: #a35ec8; 
border-color: #a35ec8; 
}

.page {
    padding: 50px 0;
    text-align: center;
}

.page h2 {
    color: #cc2e8a;
}

.page p {
    color: #333;
}

.back-btn {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #cc2e8a;
    border: 2px solid #cc2e8a;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.back-btn:hover {
    background-color: #cc2e8a;
    color: white;
}

footer {
    background-color: #333;
    color: rgb(161, 161, 161);
    text-align: center;
    padding: 20px 0;
    opacity: 70%;
}

.carousel {
    background-color: #8d44ad50;
    text-align: center;
    padding: 50px 0;
}

.carousel .carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.carousel .carousel-images img {
    max-width: 30%;
    margin: 0 10px;
}